.add-task-container {
  width: 100%;
  display: flex;
}

.add-task-input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #1b1d37;
  font-size: 16px;
  outline: none;
}

.add-task-input::placeholder {
  color: #838383;
}

.add-task-button-container {
  margin-left: 10px;
  width: 150px;
}
