@import "./media-query.css";
main {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 65%;
  height: 70%;
}
